body {
    font-family: "Poppins", sans-serif;
    color: rgb(97, 97, 97);

}

.img{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
}

.search-input{
    width: 500px;
    display: block;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 30px;
}

.btn {
    width: 130px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(239, 240, 240);
}

.btn-wrapper {
    display: flex;
    justify-content: center;

}

.bn-link {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    font-size: 12px;
}

/* Hover effect */
button:hover {
    cursor: pointer;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 1px 1px 0px #ccc;
    transform: translateY(4px);
}

/* Will have to remove the selected border effect in input field */